.container {
  width: 95%;
}

.header-fixed thead, .header-fixed tbody, .header-fixed tr, .header-fixed td, .header-fixed th {
  display: block;
}
.header-fixed tbody td, .header-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
.header-fixed thead {
  width: 97%;
}
.header-fixed tbody { 
  height: 180px; 
  overflow-y: auto;
  width: 100%;
}