<div class="list-group">

  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Listado de Clientes</h4>
    <p class="list-group-item-text">...</p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Listado de Productos</h4>
    <p class="list-group-item-text">...</p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Listado de Reclamos</h4>
    <p class="list-group-item-text">...</p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Listado de Deudores</h4>
    <p class="list-group-item-text">...</p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Historial de Clientes</h4>
    <p class="list-group-item-text">...</p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Resumen Ingresos/Egresos</h4>
    <p class="list-group-item-text">...</p>
  </a>

</div>
